//Variables
$main-green: #62DD8B;
$main-green-hover: #82e3a2;
$secondary-green: #d2f9dd;
$light-hover: #E8F5E9;
$light-grey:  #e6e6e6;
$title-font: 'Lobster', cursive;
$text-font: 'Roboto', sans-serif;

html{
    height: 100%;
    box-sizing: border-box;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


body{
    background-color: #333;
    color: $main-green;
    font-family: $text-font;
    position: relative;
    min-height: 100%;
    padding-bottom: 98px;
}

#main-nav{
    width: 100vw;
    background-color: $main-green;
    color: white;

    #nav-title{
        display: flex;
        padding: 15px;
        align-items: center;
        position: relative;

        a{
            font-family: $title-font;
            font-size: 24pt;
            color: white;
            margin-left: 55px;
        }

        img{
            height: 50px;
            position: absolute;
        }

    }

    ul{
        display: none;
    }

}

#player-container{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    background-image: url("./../assets/img/mobile-background.png");
}

.player{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 100vw;

    img{
        align-self: center;
    }

    a{
        width: 100%;
        font-size: 1.6em;
        color: white;
        background-color: $main-green;
        list-style-type: none;
        text-align: center;

        .player-card-info{
            display: flex;
            justify-content: space-between;

            .player-card-text{
                flex-grow: 1;

                .player-card-name{
                    font-family: $title-font;
                    font-size: 1.8em;
                }

                .player-card-role{
                    font-size: 0.8em;
                }
            }
        }

        img{
            height: 100%;
        }
    }

}



#team-select{
    display: none;
    justify-content: space-between;
    flex-direction: row;
    margin: 20px;


    button{
        color: white;
        cursor: pointer;
        padding: 20px;
        background-color: $main-green;
        border: none;
        font-size: 16pt;
        font-family: $text-font;
        border-right: 1px solid white;
        flex-grow: 1;
        font-weight: 300;
    }

    :last-child{
        border: none;
    }

    button:hover{
        background-color: $main-green-hover;
    }
}

footer{
    width: 100%;
    background-color: $secondary-green;
    box-sizing: border-box;
    padding: 20px;
    position: absolute;
    bottom: 0;
    color: #333;
    height: 78px;
}
